/MapWonder.xcodeproj/xcuserdata/jaimetejeiro.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/MapWonder.xcodeproj/project.xcworkspace/xcuserdata/jaimetejeiro.xcuserdatad/UserInterfaceState.xcuserstate
/MapWonder.xcodeproj/xcuserdata/jaimetejeiro.xcuserdatad/xcschemes/xcschememanagement.plist
